@model IEnumerable<StudentAppBL.Models.StudentsModel>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stud in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => stud.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => stud.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => stud.address)
                    </td>
                    <td>
                        <a asp-action="EditStudent" asp-route-id="@stud.id">Edit</a> 
                        <a asp-action="DeleteStudent" asp-route-id="@stud.id">Delete</a>
                    </td>
                </tr>

            }
            </tbody>
        </table>
