@model IEnumerable<StudentAppBL.Models.StudentsModel>

<html>
<head>
    <title></title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stud in Model)
            {
                <tr>
                    <td>
                        @stud.id
                    </td>
                    <td>
                        @stud.name
                    </td>
                    <td>
                        @stud.address
                    </td>
                    <td>
                        <a asp-action="EditStudent" asp-route-id="@stud.id">Edit</a>
                        <a asp-action="DeleteStudent" asp-route-id="@stud.id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>